<ion-header>
  <ion-toolbar>
      <ion-button slot="start" [routerLink]="['/']" routerDirection="back">
          <ion-back-button></ion-back-button>
      </ion-button>
      <ion-title>Movie Details</ion-title>
      <ion-button slot="end" (click)="onClick()">
          <ion-icon name="close"></ion-icon>
      </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="data">
      <ion-card-header>
          <ion-card-title>
              {{ data.name }}
          </ion-card-title>
          <ion-card-subtitle>
              {{ data.director }}
          </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
          {{ data.description }}
      </ion-card-content>
  </ion-card>
</ion-content>